<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Scale</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <span *ngIf="changing$ | async">💬</span>
            {{weight$|async}} Lbs.
            <mat-chip *ngIf="zeroed$|async">ZERO</mat-chip>
          </mat-list-item>
          <mat-list-item role="listitem">Count: {{count$ | async}}</mat-list-item>
          <mat-list-item role="listitem">Total: {{totalCount$ | async}}</mat-list-item>
        </mat-list>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="open()">Open</button>
        <button mat-button (click)="close()">Close</button>
        <button mat-button (click)="increment()">Increment Count</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-weight-sample-table [samples]="(scaleSamples$ | async) || []"
                             [lowerThreshold]="(lowerThreshold$ | async) || undefined"
                             [upperThreshold]="(upperThreshold$ | async) || undefined"
    ></app-weight-sample-table>
  </mat-grid-tile>
</mat-grid-list>
<div>weightMean$: {{weightMean$ |async}}</div>
<div>weightStdDev$: {{weightStdDev$ |async}}</div>
<div>weightVariance$: {{weightVariance$ |async}}</div>
<div>weightCoefficientOfVariation$: {{weightCoefficientOfVariation$ |async}}</div>
<div>upperThreshold$: {{upperThreshold$ | async}}</div>
<div>lowerThreshold$: {{lowerThreshold$ | async}}</div>
